---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Newsletter from "@components/newsletter.astro";
import Layout from "@layouts/Layout.astro";
---
<Layout>
    <Container>
        <div class="max-w-4xl mx-auto py-12">
            <h1 class="text-4xl font-bold text-gray-900 mb-8 text-center">Quienes somos</h1>
            <div class="prose prose-lg text-gray-700" style="margin-left: 10%;">
                <p class="text-justify">
                    WORLDWIDE ADVISORS OF INVESTMENTS &amp; CAPITALS LLC, (WAICA),
                    para abordar los desafíos que supone cumplir con su propia esencia,
                    tradicionalmente se ha apoyado en un selecto grupo de profesionales que
                    cumplen a cabalidad con los más exigentes estándares y competencias que
                    demandan habitualmente las empresas dedicadas a ofrecer servicios de valor
                    agregado en el área legal, corporativa, comercial y bancaria internacional, así
                    como en la estructuración de negocios en general.
                </p>
                <p class="text-justify mt-4">
                    Los servicios que brindamos a
                    través de las actividades que desplegamos en favor del cliente están orientados a
                    que el cliente saque el mayor provecho de la combinación eficaz de la
                    experiencia basada en los valores tradicionales, con la utilización de los
                    conocimientos y recursos derivados de la era tecnológica, que ésta pone a
                    disposición de la vida moderna.
                </p>
                <!-- Rest of the paragraphs... -->
            </div>
        </div>
    </Container>
</Layout>
