---
import { t } from "i18next";
import Link from "@components/ui/link.astro";

const { dynamic = false } = Astro.props;

const carouselData = [
  { 
    image: null, 
    video: "../images/1851190-uhd_3840_2160_25fps.mp4",
    text: "Nuestra razón de ser",
    subtext: "Actuar como un puente sólido que conecta a los proveedores de servicios corporativos."
  },
  { 
    image: "../images/honkong.jpg", 
    video: null,
    text: "Para nuestros clientes",
    subtext: "Nos encargamos de presentarles al socio idóneo según sus requerimientos específicos."
  },
  { 
    image: "../images/ginebra.jpg", 
    video: null,
    text: "Enfoque colaborativo",
    subtext: "Trabajamos en estrecha sinergia con diversas instituciones en Asia, Europa y América, con el objetivo de brindar los servicios corporativos, legales y financieros más destacados."
  },
  { 
    image: "../images/londres.png", 
    video: null,
    text: "Enfoque orientado a resultados tangibles",
    subtext: "Orientados a resultados tangibles, y está diseñado para impulsar el éxito empresarial."
  },
  { 
    image: "../images/panama.jpg", 
    video: null,
    text: "Transparencia y confianza",
    subtext: "Creemos firmemente en la transparencia y en forjar relaciones de confianza con nuestros clientes."
  },
  { 
    image: "../images/newyork.jpg", 
    video: null,
    text: "Comprensión de necesidades específicas",
    subtext: "Comprendemos necesidades específicas para luego brindarles soluciones personalizadas y eficientes."
  },
];
---

<div class="relative w-screen h-screen max-w-screen-xl max-h-screen-xl mx-auto overflow-hidden">
  <div id="carousel" class="relative z-10 w-full h-full">
    <div id="slide-container" class="flex transition-transform duration-700 ease-in-out w-full h-full">
      {carouselData.map((slide, index) => (
        <div class="w-full flex-shrink-0 carousel-item h-full">
          {slide.video ? (
            <video autoplay muted loop class="w-full h-full object-cover">
              <source src={slide.video} type="video/mp4">
              Your browser does not support the video tag.
            </video>
          ) : (
            <img src={slide.image} alt={`Slide ${index + 1}`} class="w-full h-full object-cover">
          )}
        </div>
      ))}
    </div>
    <button id="prevBtn" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full">
      ◀
    </button>
    <button id="nextBtn" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-white bg-opacity-50 p-2 rounded-full">
      ▶
    </button>
  </div>

  <div class="absolute inset-0 z-20 flex items-center justify-center">
    <div class="mx-auto max-w-7xl text-center py-5">
      <h1 id="slide-title" class="text-4xl font-bold tracking-tight text-white sm:text-6xl mt-8">
        {carouselData[0].text}
      </h1>
      <p id="slide-subtitle" class="mt-6 text-lg leading-8 text-white bg-black bg-opacity-50 p-2 rounded">
        {t(carouselData[0].subtext)}
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-2 md:gap-x-6">
        <Link class="bg-black" href="/animated">{t("hero.main_button_text")}</Link>
        {
          dynamic ? (
            <Link href="/animated">
              {t("hero_animated.secondary_button_text")}
              <span aria-hidden="true" class="pl-1 text-white">
                →
              </span>
            </Link>
          ) : (
            <Link href="/animated" style="muted">
              {t("hero.secondary_button_text")}
              <span aria-hidden="true" class="pl-1 text-white">
                →
              </span>
            </Link>
          )
        }
      </div>
    </div>
  </div>
</div>

<script define:vars={{ carouselData }}>
  function startCarousel() {
    const slideContainer = document.getElementById('slide-container');
    const slides = document.querySelectorAll('.carousel-item');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const slideTitle = document.getElementById('slide-title');
    const slideSubtitle = document.getElementById('slide-subtitle');
    let currentIndex = 0;

    function updateSlidePosition() {
      slideContainer.style.transform = `translateX(-${currentIndex * 100}%)`;
      slideTitle.textContent = carouselData[currentIndex].text;
      slideSubtitle.textContent = carouselData[currentIndex].subtext;
    }

    prevBtn.addEventListener('click', () => {
      currentIndex = (currentIndex - 1 + slides.length) % slides.length;
      updateSlidePosition();
    });

    nextBtn.addEventListener('click', () => {
      currentIndex = (currentIndex + 1) % slides.length;
      updateSlidePosition();
    });

    setInterval(() => {
      currentIndex = (currentIndex + 1) % slides.length;
      updateSlidePosition();
    }, 5000);

    // Set initial slide text
    updateSlidePosition();
  }

  document.addEventListener('DOMContentLoaded', startCarousel);
</script>